<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <div class="widget">
          <h3 class="widget-title">About Us</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia tempore vitae mollitia nesciunt saepe cupiditate</p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="widget">
          <h3 class="widget-title">Recent Review</h3>
          <ul class="no-bullet">
            <li>Lorem ipsum dolor</li>
            <li>Sit amet consecture</li>
            <li>Dolorem respequem</li>
            <li>Invenore veritae</li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <div class="widget">
          <h3 class="widget-title">Help Center</h3>
          <ul class="no-bullet">
            <li>Lorem ipsum dolor</li>
            <li>Sit amet consecture</li>
            <li>Dolorem respequem</li>
            <li>Invenore veritae</li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <div class="widget">
          <h3 class="widget-title">Join Us</h3>
          <ul class="no-bullet">
            <li>Lorem ipsum dolor</li>
            <li>Sit amet consecture</li>
            <li>Dolorem respequem</li>
            <li>Invenore veritae</li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <div class="widget">
          <h3 class="widget-title">Social Media</h3>
          <ul class="no-bullet">
            <li>Facebook</li>
            <li>Twitter</li>
            <li>Google+</li>
            <li>Pinterest</li>
          </ul>
        </div>
      </div>
      
    </div> <!-- .row -->

    <div class="colophon">Copyright 2014 Company name, Designed by Themezy. All rights reserved</div>
  </div> <!-- .container -->

</footer>
