<!-- templates/lab_5/partials/header.html -->
<div class="main-navigation">
  <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
  <ul class="menu">
    <li class="menu-item"><a href="{% url 'lab-10:index' %}">Home</a></li>

    <li class="menu-item"><a href="{% url 'lab-10:movie_list' %}">List movie</a></li>



    <li class="menu-item"><a href="{% url 'lab-10:list_watch_later' %}">Watch later</a></li>
  
    <li class="menu-item"><a href="{% url 'lab-10:auth_logout' %}" onclick="return confirm('Keluar?')">Logout</a></li>

  </ul> <!-- .menu -->
</div> <!-- .main-navigation -->
