{% extends "lab_10/layout/base.html" %}
{% load static % }
{% block content %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
    <script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
    <script src="js/jquery-1.11.1.min.js"></script>
		<script src="js/plugins.js"></script>
		<script src="js/app.js"></script>

		<title>Movie Review | Single</title>

		<!-- Loading third party fonts -->



		<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
		<link href="fonts/font-awesome.min.css" rel="stylesheet" type="text/css">

		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>







	</head>


	<body>
    <header>
         {% include "lab_10/partials/header.html" %}

    </header>


		<div id="site-content">
			<header class="site-header">
				<div class="container">
					<a href="index.html" id="branding">

						<div class="logo-copy">
							<h1 class="site-title">Movie review</h1>
							<small class="site-description">Giving you an honest review</small>
						</div>
					</a> <!-- #branding -->



					<div class="mobile-navigation"></div>
				</div>
			</header>
			<main class="main-content">
				<div class="container">
					<div class="page">
						<div class="breadcrumbs">
							<a href="index.html">Home</a>
							<a href="review.html">Movie Review</a>

							<span>{{movie.title}}</span>
						</div>

						<div class="content">
							<div class="row">
								<div class="col-md-6">
									<figure class="movie-poster"><img src={{movie.poster}} alt="#"></figure>
								</div>
								<div class="col-md-6">
                  <!-- <h2 class="movie-title">{{movie}}</h2> -->


									<h2 class="movie-title">{{movie.title}}</h2>

									<div class="movie-summary">
										<p>{{movie.plot}} </p>
									</div>
									<ul class="movie-meta">
										<li><strong>Rated:</strong>
											<div>{{movie.rated}}</strong></span></div>
										</li>
										<li><strong>Length:</strong> {{movie.runtime}}</li>
										<li><strong>Premiere:</strong> {{movie.released}}</li>
										<li><strong>Category:</strong> {{movie.genre}}</li>
									</ul>

									<ul class="starring">
										<li><strong>Directors:</strong> {{movie.director}}</li>
										<li><strong>Writers:</strong> {{movie.writer}}</li>
										<li><strong>Stars:</strong> {{movie.actors}}</li>
                    {% if movie.ratings.1.Value %}
                    <li><strong>IMDB:</strong> {{movie.ratings.0.Value}}</li>
                    {% else %}
                    -
                    {% endif %}
                    <li><strong>Rotten tomatoes:</strong>
                      {% if movie.ratings.1.Value %}
                      {{movie.ratings.1.Value}}
                      {% else %}
                      -
                      {% endif %}

                    </li>
                    <li><strong>Metacritic:</strong>
                      {% if movie.ratings.2.Value %}
                      {{movie.ratings.2.Value}}
                      {% else %}
                      -
                      {% endif %}
                    </li>
                    <div class="box">
                        {% if added %}
                        <button class="btn btn-success"> Added to Watch Later </button>
                        {% else %}
                        <a href="{% url 'lab-10:add_watch_later' id %}" class="btn btn-warning"> Add to Watch Later </a>
                        {% endif%}
                    </div>


									</ul>
								</div>
							
					</div>
				</div> <!-- .container -->
			</main>

		</div>
		<!-- Default snippet for navigation -->




{% endblock %}
	</body>

  <footer>
    {% include "lab_10/partials/footer.html" %}
  </footer>


</html>
