body {
  min-height: 2000px;
}

.navbar-static-top {
  margin-bottom: 19px;
}
/*Textarea not resizeable*/
textarea {
    resize:none
}

.img-circle {
  width: 100px;
  height: auto;
    border-radius: 50%;

}

#banner{
  background-image: url("../images/bg.37d18179eba0.jpg");
  background-size: cover;
  background-position: center;
  height: 525px;

}
