{% extends "lab_4/layout/base.html" %}
{% block content %}
<link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Asap+Condensed" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Asap+Condensed|EB+Garamond" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Asap+Condensed|EB+Garamond|Pontano+Sans" rel="stylesheet">
<style>
  .bg{
    {% load static %}
    background-image: url("{% static "images/bg-01.jpg" %}");
    background-size: cover;
    background-position: center;
    height: 525px;

  }
  .text{
    position: relative;
    margin: auto;
    text-align:center;
    vertical-align: middle;
    line-height: 210px;

  }
  .font1{
  font-family:"'Abril Fatface";
  font-weight: bold;
  color: #333333;
  font-size: 70px;
  }

  .font2{
    font-family: 'EB Garamond', serif;
    font-weight: bold;
    color: #333333;
    font-size: 40px;

  }
  .font3{
    font-family: 'Pontano Sans', sans-serif;
    color: #333333;
    font-size: 20px;

  }



</style>
{% load static %}
<div class="bg text">
  <center>
  <img class= "img-circle" src="{% static "profile.jpg" %}" alt="My image"/>
  </center>
<h1 class="font1 text">P O R T O F O L I O</h1>

</div>

<hr/>
<section name="bio">
    <h2 class="font2">Bio</h2>

    <p class="font3">
        {{content}}

    </p>
</section>
<hr/>
<section name="about_me">
    <h2 class="font2">Things you need to know</h2>
    <ul class="font3">
        {% for ii in about_me %}
        <li> {{ ii }} </li>
        {% endfor %}
    </ul>
</section>
<hr/>
<section name="form">
    <h2 class="font2">Send Message</h2>
    <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
        {% csrf_token %}
        {{ message_form }}
        <br>
        <button type="submit" class="btn btn-default font3">Submit</button>
    </form>
</section>
{% endblock %}
