<!-- templates/lab_5/partials/header.html -->
<nav class="navbar navbar-default navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <!-- <ul class="nav navbar-nav"> -->
        <!-- LINK MENUJU table, dan link menuju home#form -->

        <div class="panel-footer">
          <a href="{% url 'lab-9:index' %}" class="btn btn-info">Home</a>
          <a href="{% url 'lab-9:auth_logout' %}" class="btn btn btn-info pull-right" onclick="return confirm('Keluar?')">
              Logout </a>
          <a href="{% url 'lab-9:cookie_login' %}" class="btn btn btn-info"> Masuk Halaman Cookies </a>
          <!-- </ul> -->
        </div>
    </div><!--/.nav-collapse -->
  </div>
</nav>
