{% extends "base.html" %}
{% block content %}
<style>
    body{
    background-image: url("https://preview.ibb.co/e3nFdk/forbg.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    }
    .center_screen {
        position: absolute;
        width: 500px;
        height: 50px;
        top: 40%;
        left: 50%;
        margin-left: -250px; /* margin is -0.5 * dimension */
        margin-top: -25px;
    }
</style>
<div class="center_screen">
    <h1 style="font-family:Arial; font-size: 40px;" class="status" id="test">Hello, this is {{ name }}. </h1>
    <p> {{ content }} </p>
</div>
{% endblock %}