<!-- {% extends "lab_10/layout/base.html" %} -->

{% block content %}
<!-- Content Here -->
<header>
     {% include "lab_10/partials/header.html" %}
</header>
<body>
<section id="data-dashboard">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2> Dashboard </h2>
        </div>
        <div class="panel-body">
            <p> Username : {{ author }} </p>
            <p> NPM : {{kode_identitas}} </p>
            <p> Role : {{ role }} </p>

        </div>

    </div>
</section>
</body>
<footer>
  {% include "lab_10/partials/footer.html" %}
</footer>


{% endblock %}
