<div class="panel panel-info">
    <div class="panel-heading">
        <h2> Daftar opticals : {{ opticals | length}} </h2>
        <a href="{% url 'lab-9:clear_session_item' 'optical' %}" class="btn btn-danger" onclick="return confirm('Reset data?')">
            Reset Favorite opticals
        </a>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
            <th> No</th>
            <th> Nama</th>
            <th> Harga</th>
            <th> Jumlah</th>
            <th> Aksi </th>

            </thead>
            <tbody>
            {% for optical in opticals %}
            <tr>
                <td> {{ forloop.counter }}</td>
                <td> {{ optical.name }}</td>
                <td> {{ optical.price }}</td>
                <td> {{ optical.quantity }}</td>
                <td>
                    {% if not optical.id in fav_opticals %}
                    <a id='button_{{ optical.id }}' onClick="add_session_item('{{ optical.id }}','{{ optical.category_description }}')" class="btn btn-primary"> Tambah ke favorit </a>
                    {% else %}
                    <a id='button_{{ optical.id }}' onClick="del_session_item('{{ optical.id }}','{{ optical.category_description }}')" class="btn btn-danger"> Hapus dari favorit </a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
